.btn-primary{
    background-color: rgb(154, 0, 0);
    border: hidden;
    box-shadow: none;
    margin-left: 45%;
    font-weight: bold;
}
.btn-primary:hover{
    background-color: rgb(200, 5, 5);
}
.form-horizontal{
    margin-top: 3%;
    margin-left: 40%;
    width: 30%
}
.form-control{
    width: 100%;
    padding: 5px;
}
h1{
    text-align: center;
    color: aliceblue;
    margin-top: 2%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.custom-container {
    background-color: rgb(52, 56, 115);
    width: 50%;  
    margin: 20px auto;
    padding: 20px; 
    border-radius: 10px; 
    font-weight: bold;
    margin-top: 13%;
    color: rgb(255, 255, 255);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color: #181a27;
}